





  h1 {
    font-family: 'Open Sans', sans-serif;
    font-size: 40px;
  }

  p {
    font-family: 'Montserrat', sans-serif;
  }
  
  .container2 {
    max-width: 1100px;
    margin: auto;
    overflow: auto;
    padding: 0 2rem;
  }

  .airplane {
    width: 100%;
    align-self: center;
    border: 5px solid cornflowerblue;
  }

  .card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2rem;
    background: #f1f1f1;
    margin-bottom: 2rem;
  }

  .card h1 {
    margin-bottom: 2rem;
  }

  .card airplane {
    height: 400px;
  }

  .card > div {
    padding: 2rem;
  }  

  .card:nth-child(even) {
    order: 2;
  }

  @media(max-width: 700px) {
    .card {
      display: block;
    }
  }

  header {
    height: 55vh;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-image: url('Images/North-West Guide.png');
  }
  
  header h1 {
    font-size: 100px;
    margin-bottom: 2rem;
    line-height: 1.2;
    color:rgb(255, 255, 255);
  }

  .navbar_1 {
    display: flex;
    padding: 2rem;
    align-self: center;
    align-content: center;
    text-align: center;
    justify-content: center;
    margin: 2rem;
  }

  a {
    margin: 13px;
    color:rgb(255, 255, 255);
    background-color: rgb(24, 28, 37);
    font-size: 2rem;
    text-decoration: none;
    padding: 5px;
  }

  a:hover {
    margin: 13px;
    color:rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    font-size: 2rem;
    text-decoration: none;
    padding: 5px;
  }

  .photo-gallery {
    background-color: rgb(24, 28, 37);
    display: flex;
    justify-content: center;
    justify-self: center;
    justify-items: center;
    color:white;
    width: 1416;
    height:500;
  }

  
  .table-image {
    align-content: center;

  }

  .table-image img {
    padding: 1rem;
    border: 2rem solid ;
  }

  .btn-align {
    align-content: center;
    align-self: center;
  }

  .btn-link {
    align-self: center;
    width: 170px;
    height:70px;
    background-color: white;
    color: rgb(0, 0, 0);
    font-size: 20px;
    border: 0px;
  }

  .btn-link:hover {
    background-color:rgba(108, 159, 192, 0.979);
    width: 170px;
    height: 70px;
    color: rgb(255, 255, 255);
  }

  .h1-header-align {
    align-self: center;
    font-size:5rem;
    margin: 1rem;
    
  }

  .a-button{
    border: 0px;
  }

 